<article class="card-cm mb-4">
    <header class="card-cm-header">
        <div class="card-cm-meta">
            <p class="mb-2">
                {{ post.createdAt|ago }}
                in
                {% for category in post.categories %}
                    <a href="{{ path('app_category_show', {slug: category.slug }) }}">{{ category.name }}</a>{{ not loop.last ? ',' }}
                {% endfor %}
            </p>
        </div>
        <a href="{{ path('app_post_show', {slug: post.slug}) }}">
            <h4 class="card-cm-title">{{ post.title }}</h4>
        </a>
    </header>
    <a href="{{ path('app_post_show', {slug: post.slug}) }}">
        <img class="card-cm-img img-demo" src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}">
    </a>
    <div class="card-cm-body">
        <p class="card-cm-text">
            {{ post.content|u.truncate(100, '...')|raw }}
        </p>
    </div>
</article>
