<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
	<div class="container">
		<button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse order-3 order-md-2">
            <ul class="navbar-nav mr-auto">
				<li class="nav-item {{ app.request.get('_route') == 'app_home' ? 'active' : '' }}">
					<a class="nav-link" href="{{ path('app_home') }}">Home</a>
				</li>
                <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Categories
					</a>
					
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						{{ render(controller('App\\Controller\\Layout\\LayoutController::allCategories', { 'class': 'dropdown-item' })) }}
					</div>
				</li>
			</ul>
        </div>
		<a class="navbar-brand mx-auto order-1 order-md-3" href="{{ path('app_home') }}">Photlog</a>
		<div class="collapse navbar-collapse order-4 order-md-4">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item {{ app.request.get('_route') == 'app_about' ? 'active' : '' }}">
					<a class="nav-link" href="{{ path('app_about') }}">About</a>
				</li>
				<li class="nav-item {{ app.request.get('_route') == 'app_contact' ? 'active' : '' }}">
					<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
